body{
    background-color: #f8f9fa;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 0;
    padding: 0;
}
header{
    display:grid;
    grid-template-columns: auto auto;
}

.content{
    display:grid;
    grid-template-columns: 30% 70%;
    height:75vh;
}

#entry{
    background-color:greenyellow;
    border-top-left-radius: 10%;
    padding:25px;
}
#entry:hover{
    background-color:lightgreen;
}

textarea{
    field-sizing: content;
    width: 75%;
    height: 50%;
    border: none;
    resize: none;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}